<!doctype html>
<html>
<head>
    <title>User Homepage</title>
</head>
<body>
<h1>User display_name{{user_id}} Homepage</h1>
<ul>
    <li><a href="/browse/status/all">Browse</a></li>
    <li><a href="/user_browse/{{user_id}}/assigned/all">Browse Your Bugs</a></li>
    <li><a href="/milestone">Milestones</a></li>
    <li><a href="/user/{{user_id}}">User Profile</a></li>
    <li><a href="/newbug/{{user_id}}">Create New Bug</a></li>
    <li><a href="/search/bugTitle1">Search</a></li>
    <li><a href="/newsfeed/user/{{user_id}}/50">User Newsfeed</a></li>
</ul>
</body>
</html>
